# By ignoring _esy and _build, the final docker image size stays compact and uploaded quickly to Fly.

# esy build environment
_esy/

# Dune build environment
_build/

# Git
.git/
.gitignore

# Development
Dockerfile
docker-compose.yml
