# Dune
_build/
.merlin
*.install

# opam
_opam/

# npm
node_modules/
example/*/package-lock.json

# esy
_esy/
esy.lock

# Release script
dream-*.gz
dream-*/

# Bisect_ppx
_coverage/

# Humans
scratch/

# Editors
.vscode/
