version = 0.20.1
profile = conventional

leading-nested-match-parens = false
space-around-variants = false
space-around-arrays = false
space-around-lists = false
space-around-records = false
break-infix = fit-or-vertical
break-separators = after
space-around-records = true
break-cases = fit-or-vertical
cases-exp-indent = 2
exp-grouping = preserve
if-then-else = fit-or-vertical
let-and = sparse
type-decl = sparse
