version = 0.18.0
profile = conventional

leading-nested-match-parens = false
align-constructors-decl = true
align-variants-decl = true
space-around-variants = false
space-around-arrays = false
space-around-lists = false
space-around-records = false
break-before-in = auto
break-infix = fit-or-vertical
break-separators = after
space-around-records = true
break-cases = all
cases-exp-indent = 2
exp-grouping = preserve
nested-match = align
if-then-else = fit-or-vertical
let-and = sparse
type-decl = sparse
