@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('lato-v17-latin-100.woff2') format('woff2');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #30404d;
  color: #eee;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 24px;
}

h1, h2 {
  color: white;
}

footer {
  margin-top: 120px;
  opacity: 0.5;
}

body > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

pre, code {
  font-size: 15px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

pre {
  background-color: #29323d;
  padding: 12px;
}

.spec > pre {
  background: none;
  padding: 0;
}

code {
  background-color: #101316;
  padding: 1px 7px;
}

pre > code,
.spec > code {
  background: none;
  padding: 0;
  color: inherit;
}

a > code {
  color: inherit;
}

p > code, li > code, a > code {
  white-space: nowrap;
}

p, pre {
  margin-top: 12px;
  margin-bottom: 12px;
}

.spec > pre {
  margin-top: 24px;
  margin-bottom: 24px;
}

.spec > pre.compact {
  margin-bottom: 0;
}

p + p {
  margin-top: 24px;
}

#pp-preamble > ol > li {
  margin-top: 60px;
  margin-bottom: 72px;
}

body.index h1 {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 800%;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  margin-top: 96px;
  margin-bottom: 24px;
  font-weight: 400;
}

a, a:visited, a:active {
  color: #a9c4ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav.odoc-toc {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 18em;
  background-color: #394b59;
  box-shadow: 1px 0 0 rgb(16 22 26 / 40%);
  line-height: 30px;
}

nav.odoc-toc ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

nav.odoc-toc a,
nav.odoc-toc a:visited,
nav.odoc-toc a:active {
  color: inherit;
  display: inline-block;
  width: 100%;
}

nav.odoc-toc li {
  padding-left: 3em;
}

nav.odoc-toc .current-section {
  background-color: #252d37;
}

.hljs-module-access, .hljs-keyword, .keyword {
  color: #F49D62;
}

.hljs-identifier, .hljs-literal, .hljs-type {
  color: #92BFBF;
}

.hljs-string {
  color: #BDDCDC;
}

.spec-doc > :first-child {
  margin-top: 0;
}

.spec-doc {
  padding-left: 2em;
}

ol {
  padding-left: 18px;
}

.spec {
  margin-top: 24px;
}

.anchor {
  visibility: hidden;
  position: absolute;
  margin-left: -15px;
  margin-top: 1px;
  padding-right: 7px;
  text-decoration: none !important;
}

h2 > .anchor {
  margin-top: -1px;
}

.multiline > .anchor {
  margin-top: -1px;
}

:hover > .anchor {
  visibility: visible;
}

.anchor:before {
  content: "#";
  font-size: 15px;
}

:target .backing {
  background-color: #252d37;
}

.backing {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.1em;
  z-index: -1;
}

.spec .backing {
  height: 1.5em;
}
